<html>
    <head>
        <style>
            body {
                font-size: 104px
            }
            h1 {
                font-size: 104px;
                color: whitesmoke;
                position: absolute;

            }
            form {
                color: black;
                background-color: #F3F3F3;
                width: 613px;
                border: #f3f3f3;
                
            }
            form input {
                width: 517px;
                height: 76px;
                border-radius: 10px;
                margin-top: 10px;
                margin-left: 45px;
                border: #F3F3F3;
            }
            form button {
                background-color: #F3F3F3;
                width: 517px;
                height: 76px;
                border-radius: 10px;
                margin-top: 10px;
                margin-left: 45px;
                margin-bottom: 20px;
            }

            form p {
                margin-left: 45px;
                font-size: 40px;
            }
            form label {
                font-size: 20px;
                color: #969696;

            }
            form label input {
                color: #969696;
                font-size: 20px;
                width: 28px;
                height: 28px;
            }
            .comentario {
                height: 260px;
            }
        </style>
    </head>
    <body>
        <div>      
        <img src="img/Image.jpg" alt="">
             <h1><img src="img/seta.png" alt=""> CORRA</br>COMO SE O MUNDO</br>DEPENDESSE DE VOCÊ</h1>
    
        </div>
        <form action="input">
            <p>Entre em contato</p>
            <input type="text" placeholder="Nome">
            <input type="mail" placeholder="Email">
             <input class="comentario" type="text" placeholder="Comentários">
            <label>
                <input type="checkbox" value="Item 1" />
                Concordo com a politica de privacidade
            </label>
            <button>Enviar</button>
        </form>
    </body>
</html>
















